@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Love+Light&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sekuya&display=swap');

* {

    box-sizing: border-box;
}


body {

    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #282F3D;

}

.navbar {
    display: flex;
    height: 100px;
    background: rgb(91, 91, 91);
    align-items: center;
    color: white;
    text-shadow: 5px 5px 3px;


}

.logo {
    margin-left: 10%;
    text-align: left;
    /*border: 2px red solid;*/
    flex: 10%;
    font-size: 70px;
    font: bold;
    font-family: "Love Light", cursive;
}

.menu {
    text-shadow: 4px 3px 7px;
    flex-grow: 1;
    font-size: 35px;
    flex: 60%;
    /*border: 2px red solid;*/
    text-align: end;
    padding-bottom: 34px;
    padding-top: 21px;
    align-items: center;


}

.menu a {

    margin-left: 60px;
    font-size: 25px;
    text-decoration: none;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    align-items: center;
    color: white;

}


.menu a:hover {
    border-top: 3px solid #282F3D;
    color: #FF2978;

}

#button4 {

    background: black;
    margin-left: 5%;
    margin-right: 60px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    border: 2px black solid;
    border-radius: 18px;


}

#button4:hover {
    background: #282F3D;
    margin-left: 5%;
    margin-right: 60px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    border: 2px black solid;
    border-radius: 18px;
    text-shadow: 7px 4px 10px;


}

.header {
    display: flex;
    flex-flow: row wrap;
    text-align: left;
    align-items: center;
    height: 690px;
    background-color: #282F3D;
}

.headline {
    margin-left: 10%;
    flex: 40%;
    /*border: 1px solid red;*/
}

.img-headline {
    margin-right: 10%;
    flex: 40%;
    /*border: 1px solid red;*/
    text-align: center;
    align-content: center;
}

.contact-btn {
    display: inline-block;
    background: #FF2978;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;

}

.contact-btn:hover {
    display: inline-block;
    background: white;
    font-weight: bolder;
    padding: 20px;
    color: black;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;

}

section {
    display: inline-block;
    margin-top: 80px;
    margin-left: 5%;
    border: 1px solid red;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
    height: 400px;
    width: 90%;
}

section h2 {
    width: 100%;
    font-size: 50px;
    margin: 0%;
    font-weight: 700;
    font-family: "Lobster", sans-serif;

}

.serviços {
    display: flex;
    margin-top: 5%;
    justify-content: center;
}

.card {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid red;
    font-size: 20px;
    font-weight: bold;
}

/* Media Queries for Responsiveness */

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .logo {
        margin-left: 0;
        text-align: center;
        font-size: 50px;
        flex: none;
    }

    .menu {
        flex-direction: column;
        text-align: center;
        padding: 0;
        font-size: 25px;
    }

    .menu a {
        margin: 10px 0;
        font-size: 20px;
        padding: 10px;
    }

    #button4 {
        margin: 10px 0;
        padding: 15px;
    }

    .header {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .headline {
        margin-left: 0;
        flex: none;
        text-align: center;
    }

    .headline h2 {
        font-size: 40px;
    }

    .headline p {
        font-size: 16px;
    }

    .img-headline {
        margin-right: 0;
        flex: none;
        margin-top: 20px;
    }

    section {
        margin: 20px 0;
        padding: 20px;
        width: 100%;
    }

    section h2 {
        font-size: 30px;
    }

    .serviços {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 40px;
    }

    .menu {
        font-size: 20px;
    }

    .menu a {
        font-size: 18px;
    }

    .headline h2 {
        font-size: 30px;
    }

    section h2 {
        font-size: 25px;
    }
}